html, body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0a1a2f;
  color: white;
  width: 780px;
  height: 470px;
  align-content: center;
  align-self: center;
}

.scoreboard {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #0a1a2f;
  display: flex;
  flex-direction: column;
  gap: 0;
  font-size: 1.2rem;
  box-sizing: border-box;
  border: 1px solid rgb(2, 2, 2);
  border-radius: 1px;
  justify-content: space-between;
  height: 100%
  
}

.top-area {
  height: 100px; /* Lock the total height for top section */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #b7b8b9;
}

.top-bar{
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid hsl(0, 0%, 1%);
  font-size: 2rem;
  color: #011634;
  
}
.batter-line {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid hsl(0, 0%, 1%);
  font-size: 2rem;
  color: #011634;

}

.middle-row {
  display: flex;
  align-items: flex-start;  /* Align top edges */
  gap: 5px;                /* Optional spacing between bases and scoreboard */
  margin-top: -95px;
}





.bases {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0;
  padding: 0;

}

.base {
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 2px solid white;
  position: absolute;
  transform: rotate(45deg);
}


.base-first  { top: 140px; left: 160px; }
.base-second { top:  80px; left: 105px; }
.base-third  { top: 140px; left:  50px; }

.base.occupied {
  background-color: gold;
}


.score-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #090000;
  color: black;
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom:0;
  margin-top: 0;
  box-sizing: border-box;
  height: 150px;

}


.info-line {
  background-color: #b7b8b9;
  color: #011634;
  justify-content: space-between;
  margin-top: 0px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  font-weight: bold;
  padding-right: 50px; 
  border: #090000;
  border-radius: 1px;
  padding: 0 5px;
  height: 70px;
}



.inning-number {
  background-color: #003087;
  font-size: 2rem;
  font-weight: bold;
  justify-content: space-between;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 30px 30px;
  color: #003087;
}

/* .mlb-logo {
  font-size: 32px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
} */


.game-state {
  display: flex;
  gap: 15px;
  font-size: 1.3rem;
  align-items: center;
}


.score-box.vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}


.mlb-overlay-logo {
  position: absolute;
  bottom: 20px;       /* tweak to position exactly */
  left: 8px;
  font-size: 55px;
  z-index: 9999;
  pointer-events: none;  /* lets clicks pass through */
}